<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <title>Travel Planner App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- HEADER SECTION -->
    <header id="main-header" class="bg-dark text-center py-3">
      <div class="text-white display-4">Travel Planner App</div>
    </header>

    <!-- INPUT SECTION -->
    <section id="input-section" class="front-page">
      <div class="container">
        <div class="py-5">
          <div class="input-title mx-auto text-center mt-3">
            <h1 class="input-text bg-light rounded p-3 h2">
              Where is your next Destination?
            </h1>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="bg-light w-md-60 rounded mx-auto mt-4 p-4 pb-3">
                <form>
                  <div class="">
                    <label class="mb-2">City</label>
                    <input
                      name="city"
                      type="text"
                      id="form-city"
                      class="form-control"
                      placeholder="Enter City"
                    />
                    <label class="my-2">Departure Date</label>
                    <input
                      name="date"
                      type="date"
                      id="form-date"
                      class="form-control"
                    />
                  </div>
                  <div class="d-grid text-center mt-4">
                    <button
                      type="button"
                      id="submit"
                      class="btn bg-secondary text-white px-5"
                    >
                      Get Info
                    </button>
                  </div>
                  <div class="errorEl d-none mt-3"></div>
                </form>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="mt-4 forecast d-none">
                <div class="text-center">
                  <span
                    id="countDown"
                    class="h5 bg-dark text-white text-center rounded p-2"
                  ></span>
                  <img src="" id="city-img" class="mt-3 img-fluid col-lg-9" />
                </div>
                <div class="row">
                  <div class="col-lg-6 bg-light mt-4">
                    <div class="h4 mt-2 text-center country"></div>
                    <ul class="list-unstyled">
                      <li>Country Code: <span class="code"></span></li>
                      <li>Temperature is <span class="temperature"></span></li>
                      <li>Description: <span class="description"></span></li>
                    </ul>
                    <div class="">
                      <img src="" class="img-flud col-3 icon" />
                    </div>
                  </div>
                  <div class="col-lg-6 mt-4 bg-light">
                    <div class="h4 mt-2 text-center">More Information:</div>
                    <div class="mb-2">
                      <img src="" class="img-flud col-2 flag" />
                    </div>
                    <ul class="list-unstyled">
                      <li>Capital: <span class="capital"></span></li>
                      <li>Language: <span class="language"></span></li>
                      <li>Call Code: <span class="call-code"></span></li>
                      <li>Official Currency: <span class="currency"></span></li>
                      <li>Sub-region: <span class="sub-region"></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->
    <footer id="main-footer" class="py-4 bg-dark">
      <div class="footer-text text-center">
        <p class="text-muted mb-2">
          By
          <a href="https://github.com/etanami" class="link-light">
            Etanami Olatunji</a
          >
          &copy; Udacity | Photo by
          <a
            href="https://unsplash.com/@darkandflawed?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            class="link-light"
            >Meghna R</a
          >
          on
          <a
            href="https://unsplash.com/s/photos/travel-boy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            class="link-light"
            >Unsplash</a
          >
        </p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
