@media (min-width: 992px) {
  .input-title {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .w-md-60 {
    width: 60%;
  }
}

#input-section {
  height: auto;
  background: url('../media/unsplash.jpg') center center / cover no-repeat;
}

footer a {
  text-decoration: none;
}

input[type='text']:hover,
input[type='date']:hover {
  cursor: pointer;
}
